@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaaa00;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  width: 50%;
  padding: 50px;
  margin: 50px;
  border: 1px solid #013220;
  background: white;
  border-radius: 10px;
  min-height: 80vh; /* Optional: Give it some height to center content properly */
}

/* Headings and text */
h1 {
  font-family: Garamond, serif;
  font-size: 1.8rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-family: Lora, serif;
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  padding: 0 20px;
}

/* Buttons */
button {
  font-family: Lora, serif;
  cursor: pointer;
  padding: 12px 20px;
  margin: 10px auto;
  background: #013220;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  align-self: center;
}

button:hover {
  background: #ab7d00;
  color: black;
}

#hiddenContent {
  display: none;
}


/* Hide buttons initially */
#genreButton, #tryAgainGenreButton, #advanceButton,
#snackButton, #sweetOrSaltyButton, #finishButton, #resetButton {
  display: none;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-details{
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 15px auto;
  padding: 10px 15px;
  width: 30%;
  flex: 0 0 80%;
}

/* Styling for movie poster */
.movie-poster {
  width: 200px;
  height: 200px;
  object-fit: cover;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  
}

/* Styling for movie title */
.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for movie description */
.movie-description {
  font-size: 1rem;
  color: #555; /* You can use a lighter color to differentiate */
  margin-bottom: 10px;
}

/* Optional: Styling for runtime and cast */
.movie-runtime, .movie-cast {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 5px;
}



@media (min-width: 768px) {
  .box {
    width: 70%;
    padding: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    max-width: 250px;
  }

  .movie-details {
    flex: 0 0 45%;
    margin: 10px;
  }


}

@media (min-width: 1024px) {
  .box {
    width: 60%;
    padding: 40px;
  }

  h1 {
    font-size: 2.2rem;
  }

  button {
    font-size: 1.1rem;
    max-width: 200px;
  }

  .movie-details {
    flex: 0 0 25%;
    margin: 15px;
  }
}
#sweetorsalty {
  margin-bottom: 40px;
}