body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Lora", serif;
}

nav {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* padding: 0 50px; */
    margin: 2rem auto;
    background: #711324;
    border-radius: 10px;
    position: relative;
    min-height: 80vh;
}

h1 {
    font-family: Garamond, serif;
    font-size: 2.4rem;
    color: black;
    text-shadow: 2px 2px 5px #ab7d00;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3rem;
}

p {
    font-size: 1rem;
    text-align: center;
    margin: 20px 0;
    color: black;
    line-height: 2;
}

.message {
    display: none;
    font-size: 1rem;
    text-align: center;
    margin: 20px 0;
    color: whitesmoke;
}

.button {
    font-family: Lora, serif;
    cursor: pointer;
    padding: 12px 20px;
    margin: 10px;
    background: black;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    max-width: 300px;
    align-self: center;
    box-shadow: 2px 2px 5px #ab7d00;
    transition: transform 0.2s ease;
}

button:hover {
    background: #ab7d00;
    box-shadow: 2px 2px 5px black;
    transform: scale(0.9);
}

#hiddenMovieContent {
    display: none;
}

#genreButton {
    display: none;
}

#startButton {
    margin-top: 20px;
}

#resetButton {
    position: absolute;
    top: 20px;
    right: 25px;
    background: transparent;
    width: 40px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.2s ease;

    img {
        width: 40px;
    }

    :hover {
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        transform: scale(0.9);
    }
}

#chooseAgainButton {
    margin-top: 20px;
}

#finishButton {
    margin-bottom: 30px;
}

#finalMessage {
    display: none;
}
#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-details {
    background-color: rgb(245, 245, 245);
    border: 2px solid #ab7d00;
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    padding: 10px 15px;
    width: 30%;
    flex: 0 0 80%;
}

.movie-poster {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 40px;
}

.movie-description {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    padding: 0 20px;
}

.movie-runtime,
.movie-cast {
    font-size: 0.8rem;
    color: black;
    margin-bottom: 5px;
    padding: 0 40px;
}

.movie-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
    margin-bottom: 2rem;
}




@media (min-width: 768px) {
    .box {
        width: 70%;
        min-height: 80vh;
    }
    h1 {
        font-size: 2.5rem;
    }
    button {
        max-width: 250px;
    }
    .movie-details {
        flex: 0 0 45%;
        margin: 10px;
    }
    .movie-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 3rem;
        margin-bottom: 4rem;
    }
    
    #chooseAgainButton {
        display: none;
        margin: 0;
    }
    
    #finishButton {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 60%;
        min-height: 80vh;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    button {
        font-size: 1.1rem;
        max-width: 200px;
    }
    .movie-details {
        flex: 0 0 25%;
        margin: 15px;
    }
    .movie-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 3rem;
        margin-bottom: 5rem;
    }
    
    #chooseAgainButton {
        margin: 0;
        display: none;
    }
    
    #finishButton {
        margin: 0;
    }
}
